# large files
input/sermons.csv
intermediate/pattern_matching/
intermediate/regression/gpt_pre_tuesday/data.csv
intermediate/regression/pattern_matching_in_window/data.csv
intermediate/regression/pattern_matching_pre_tuesday/data.csv