# MacOS junk
.DS_Store
input/.DS_Store
intermediate/.DS_Store
output/.DS_Store

# Python venv
venv/

# large files
input/tl_2023_us_state
input/extracted_data.csv
input/denomination_ARDA.dta
input/presidents.dta
input/state_population.dta
intermediate/sermons.dta
output/sermons.csv
output/state_coverage_map.dta