# MacOS junk
.DS_Store
input/.DS_Store
intermediate/.DS_Store
output/.DS_Store

# Python venv
bin/
include/
lib/
share/
dist_metrics.pxd
pyvenv.cfg

# large files
input/sermons.csv
intermediate/pattern_matching/
intermediate/regression/gpt_pre_tuesday/data.csv
intermediate/regression/pattern_matching_in_window/data.csv
intermediate/regression/pattern_matching_pre_tuesday/data.csv